html {
  background-color: white;
  color: black;
}

body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1{
  padding: 0;
  margin: 0;
  width: 100%;
}

h2{
  padding: 0;
  margin: 0;
  width: 100%;
}

.header_label_background{
  height: 100%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for all links.  */
a {
  font-family: "Serif", University, monospace;
  font-size: 100%;
  font-weight: bold;
  text-decoration: none; /* No underline.  */
  color: darkgreen;
  text-align: center;
  height: 100%;
}

.a_Backbround{
  height: 100%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  height: 1px;
  background-color: gray;
}

.hr_Thick{
  height: 2px;
  color: black;
  background-color: black;
  display: block;
  padding: 0;
}

table{
  margin: auto;
  margin: auto;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr{
  height: 50px;
}

/* Table header: */
th{
  border: 2px solid black;
  padding: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  font-weight: normal;
}

.th_NoBorder {
  border: 0px;
  padding: 0.5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Table body: */
td{
  border: 2px solid black;
  padding: 0.5%;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  max-width: 25%;  /* This needs to be set, because for some reasons text-align center doesn't work without width. */
}

.td_NoBorder{
  border: 0px;
  max-width: 25%;  /* This needs to be set, because for some reasons text-align center doesn't work without width. */
  padding: 0.5%
}

.td_Links{
  width: 100%;
}

img{
  width: 100%;
  display:block; /* Images are by default displayed inline - which causes the padding below the image. (because of line-height) */
}

video{
 max-width:50%;
 height:100%;
 margin:1.25rem auto;
 padding:1.051%;
 background-color:#666;
}

.header {
  background-color: white;
  color: black;
  font-family: "Serif", University, monospace;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* Style for body elements, unless exceptional:  */
.body {
  background-color: white;
  font-family: "Serif", University, monospace;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: lightblue;
  color: black;
  text-align: center;
  padding-bottom: 2.5%
}

.pageSplitter_SideBar_Content{
  display: grid;
  grid-template-columns: 0.15fr 0.85fr;
  grid-gap: 0;
}

.sideBar{
  background-color: lightblue;
  width:100%;
}

.sideBarBackground{
  width:100%;
  background-color: lightblue;
}

.pageContent{
  border: 0px solid black;
  padding: 2.5%;
  margin-top: auto;
  margin-bottom: auto;
}

.paragraph_Standalone{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.paragraph_PageContent{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Small images that are not part of table:  */
.img_Standalone_Small{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

/* Table div with 5 columns: */
.tableDiv_100{
  margin: auto;
  width: 100%;
}

.tableDiv_80{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.tableDiv_60{
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.tableDiv_25{
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
}

.tableDiv_10{
  margin-left: auto;
  margin-right: auto;
  max-width: 10%;
}
