html {
  height: 100%;
}

/* Style for most elements, unless exceptional:  */
body {
  background-color: white;
  color: black;
  font-family: "Serif", University, monospace;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

head {
  font-family: "Courier New", Courier, monospace;
  padding-left: 10%;
  padding-right: 10%;
}

{
  /* This is for banners if needed:
  background-image: url("Img/BinaryRain.gif"), url("Img/BinaryRain.gif");
  background-position: center left, center right;
  background-repeat: no-repeat, no-repeat;
  background-size: 10% 100%;
  min-height: 100%;
  */
}

/* Style for all links.  */
a {
  font-family: "Serif", University, monospace;
  font-size: 100%;
  text-decoration: none; /* No underline, distracting.  */
  color: darkgreen;
  text-align: center;
}

.paragraph_SingleColumn{
  text-align: left;
  text-spacing: 5px;
  margin-left: 20%;
  margin-right: 20%;
}

/* Small images that are not part of table:  */
.img_Standalone_Small{
  width: 25%
}

/* Table header: */
th {
  border: 2.5px solid black;
  padding: 0.5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Table body: */
td {
  border: 2.5px solid black;
  padding: 2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;  /* This needs to be set, because for some reasons text-align center doesn't work without width. */
}

/* Table div with 3 columns: */
.tableDiv_3Col{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.tableDiv_2Col{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.tableDiv_1Col{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.footer {
  text-align: left;
  margin-left: 5%;
  padding-bottom: 1%;
}

work {
  display: inline !important;
}
