html {
  background-color: white;
  color: black;
}

body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1{
  padding: 0;
  margin: 0;
}

h2{
  padding: 0;
  margin: 0;
}

/* Style for all links.  */
a {
  font-family: "Serif", University, monospace;
  font-size: 100%;
  text-decoration: none; /* No underline, distracting.  */
  color: darkgreen;
  text-align: center;
}

table{
  margin: auto;
  margin: auto;
}

/* Table header: */
th {
  border: 2.5px solid black;
  padding: 0.5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Table body: */
td {
  border: 2.5px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;  /* This needs to be set, because for some reasons text-align center doesn't work without width. */
  padding: 2.5%
}

video{
 max-width:50%;
 height:100%;
 margin:1.25rem auto;
 padding:1.051%;
 background-color:#666;
}

.header {
  background-color: lightblue;
  color: black;
  font-family: "Serif", University, monospace;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* Style for body elements, unless exceptional:  */
.body {
  font-family: "Serif", University, monospace;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: lightblue;
  color: black;
  text-align: center;
  padding-bottom: 2.5%
}

.pageSplitter_SideBar_Content{
  display: grid;
  grid-template-columns: 0.15fr 0.85fr;
  grid-gap: 0px;
}

.sideBar{
  width:100%
}

.tableData_Links{
  width: 100%;
}

.pageContent{
  margin-left: auto;
  margin-right: auto;
  border: 2.5px solid black;
  padding: 2.5%
}

.paragraph_SingleColumn{
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

/* Small images that are not part of table:  */
.img_Standalone_Small{
  max-width: 25%
}

/* Table div with 3 columns: */
.tableDiv_3Col{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.tableDiv_2Col{
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
}

.tableDiv_2Col_Large{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.tableDiv_1Col{
  margin-left: auto;
  margin-right: auto;
  max-width: 15%;
}
