html {
  background-color: white;
  color: black;
}

body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1{
  padding: 0;
  margin: 0;
}

h2{
  padding: 0;
  margin: 0;
}

/* Style for all links.  */
a {
  font-family: "Serif", University, monospace;
  font-size: 100%;
  text-decoration: none; /* No underline, distracting.  */
  color: darkgreen;
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
}

/* Table header: */
th {
  border: 2.5px solid black;
  padding: 0.5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Table body: */
td {
  border: 2.5px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;  /* This needs to be set, because for some reasons text-align center doesn't work without width. */
}

video{
 max-width:50%;
 height:100%;
 margin:1.25rem auto;
 padding:1.051%;
 background-color:#666;
}

{
  /* This is for banners if needed:
  background-image: url("Img/BinaryRain.gif"), url("Img/BinaryRain.gif");
  background-position: center left, center right;
  background-repeat: no-repeat, no-repeat;
  background-size: 10% 100%;
  min-height: 100%;
  */
}

.header {
  background-color: lightblue;
  color: black;
  font-family: "Serif", University, monospace;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* Style for body elements, unless exceptional:  */
.body {
  font-family: "Serif", University, monospace;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: lightblue;
  color: black;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.paragraph_SingleColumn{
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

/* Small images that are not part of table:  */
.img_Standalone_Small{
  max-width: 25%
}

/* Table div with 3 columns: */
.tableDiv_3Col{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.tableDiv_2Col{
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
}

.tableDiv_2Col_Large{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.tableDiv_1Col{
  margin-left: auto;
  margin-right: auto;
  max-width: 15%;
}

.sideBar_PageContent{
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  grid-gap: 0px;
}

.sideBar{
  margin-left: auto;
  margin-right: auto;
}

.pageContent{
  margin-left: auto;
  margin-right: auto;
  border: 2.5px solid black;
}
